body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(1, 159, 54);
}

label {
  display: flex;
  margin: 18px;
}

h1 {
  margin-left: 70px;
}

input {
  margin-left: 10px;
}

.display-flex-margin-18 {
  display: flex;
  margin: 18px;
  justify-content: center;
  justify-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
